<form>
  <div class="search-div">
    <mat-form-field>
      <span matPrefix> </span>
      <input type="text" matInput placeholder="Search" name="searchImg" [(ngModel)]="searchImg">
      <button matSuffix mat-button (click)="searchImages(searchImg)"><mat-icon>search</mat-icon></button>
    </mat-form-field>
  </div>

  <div *ngIf="screenWidth && screenWidth > 900" class="img-div">
    <img style="padding: 4px;" *ngFor="let i of imageObj" [src]="i.webformatURL">
    <span *ngIf="imageObj && imageObj.length===0">No Records Found</span>
  </div>
  <div *ngIf="screenWidth && screenWidth <= 900" class="img-div">
    <img style="padding: 4px;" *ngFor="let i of imageObj" [src]="i.webformatURL">
    <span *ngIf="imageObj && imageObj.length===0">No Records Found</span>
  </div>
</form>